[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "nl2sql2spark"
version = "0.1.0"
description = ""
requires-python = ">=3.12"

[tool.setuptools.packages.find]
where = ["src"]